.search-bg-blob {
  position: absolute;
  top: 0;
  left: -300px;
  width: 40rem;
  height: 40rem;
  background: $color__secondary;
  border-radius: 50%;

  &__child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(3%, 0);
    background: $color__dark;
    border-radius: 50%;
    z-index: -1;
  }
}
