.design {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: $color__dark;
    border-radius: 50%;
    z-index: -1;
  }
}

.image__wrapper {
  width: 250px;
  height: 250px;
}

.hero-image {
  width: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;

  &::after {
    width: 90%;
    height: 90%;
    transform: translate(1%, 8%);
  }
}

.upper-right {
  position: absolute;
  top: 0;
  right: 0;

  &::after {
    width: 90%;
    height: 90%;
  }
}

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);

  &::after {
    width: 90%;
    height: 90%;
    transform: translate(1%, 10%);
  }

  .image__wrapper {
    width: 500px;
    height: 500px;
  }
}
