.svg-icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: #fff;
}

.svg-search {
  width: 6.4rem;
  height: 6.4rem;
}

.svg-shop {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
}

.svg-heart {
  width: 3.2rem;
  height: 3.2rem;
  fill: #000;
}
