@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;500;600;700&display=swap");
.grid {
  display: grid;
}

.grid__2-cols {
  grid: 1fr/repeat(2, 1fr);
}

.grid__3-cols {
  grid: 1fr/repeat(3, 1fr);
}

.grid__4-cols {
  grid: 1fr/repeat(4, 1fr);
}

.grid__5-cols {
  grid: 1fr/repeat(5, 1fr);
}

.grid__6-cols {
  grid: 1fr/repeat(6, 1fr);
}

.grid__7-cols {
  grid: 1fr/repeat(7, 1fr);
}

.grid__8-cols {
  grid: 1fr/repeat(8, 1fr);
}

.grid__9-cols {
  grid: 1fr/repeat(9, 1fr);
}

.grid__10-cols {
  grid: 1fr/repeat(10, 1fr);
}

.grid__11-cols {
  grid: 1fr/repeat(11, 1fr);
}

.grid__12-cols {
  grid: 1fr/repeat(12, 1fr);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Kreon", serif;
}

body {
  background: #f0eadc;
}

#root {
  max-width: 120rem;
  padding: 1.6rem;
  margin: auto;
}

.svg-icon {
  width: 3.2rem;
  height: 3.2rem;
  fill: #fff;
}

.svg-search {
  width: 6.4rem;
  height: 6.4rem;
}

.svg-shop {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fff;
}

.svg-heart {
  width: 3.2rem;
  height: 3.2rem;
  fill: #000;
}

.svg-step {
  width: 6.4rem;
  height: 6.4rem;
}

.svg-right-arrow {
  width: 3.2rem;
  height: 3.2rem;
  fill: #bbb;
}

.svg-social {
  width: 3.6rem;
  height: 3.6rem;
  fill: #bbb;
  transition: all 0.3s;
  cursor: pointer;
}
.svg-social:hover {
  fill: #000;
}

.navbar {
  align-items: center;
  justify-content: center;
}

.navigation,
.user-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.navigation {
  justify-self: end;
}
.navigation .nav-link:nth-child(1) {
  font-weight: 700;
}

.nav-link {
  transition: all 0.3s;
}
.nav-link:hover, .nav-link:active {
  color: #ff6813;
}

.user-action {
  justify-self: center;
}

.cta-link {
  position: relative;
  padding: 0.8rem 2.4rem;
  transition: all 0.3s;
  border-radius: 20px;
}
.cta-link:link, .cta-link:visited {
  background: #ff6813;
  color: #fff;
}
.cta-link:hover, .cta-link:active {
  background: #0082fa;
}
.cta-link::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(7px, 5px);
  background: #000;
  border-radius: 20px;
  z-index: -1;
}

.logo__wrapper {
  width: 20rem;
}

.logo {
  width: 100%;
  display: block;
}

.section-search {
  position: relative;
  margin: 6.4rem auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.search__title {
  font-size: 9.6rem;
  text-align: center;
}
.search__title span {
  display: block;
}

.search__field {
  position: relative;
  margin: 4.8rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f0eadc;
  border-radius: 40px;
  border: 1px solid #000;
}
.search__field::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(8px, 6px);
  width: 100%;
  height: 100%;
  background: #000;
  border-radius: 40px;
  z-index: -1;
}

.input-search {
  border: 0;
  width: 100%;
  height: 7rem;
  padding: 0.8rem 10.24rem 0.8rem 3.2rem;
  background: transparent;
}
.input-search:focus {
  outline: none;
  border: none;
}

.btn-search {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  padding: 1.6rem;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-20%, -50%);
}

.bg-blob-search {
  position: absolute;
  top: 0;
  left: -300px;
  width: 40rem;
  height: 40rem;
  background: #ff6813;
  border-radius: 50%;
}
.bg-blob-search__child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(3%, 0);
  background: #000;
  border-radius: 50%;
  z-index: -1;
}

.bg-blob-offer {
  position: absolute;
  top: 40px;
  right: -300px;
  width: 40rem;
  height: 40rem;
  background: #0082fa;
  border-radius: 50%;
}
.bg-blob-offer__child {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: translate(-3%, 0);
  background: #000;
  border-radius: 50%;
  z-index: -1;
}

.design {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.design::after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #000;
  border-radius: 50%;
  z-index: -1;
}

.image__wrapper {
  width: 250px;
  height: 250px;
}

.hero-image {
  width: 100%;
}

.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.bottom-left::after {
  width: 90%;
  height: 90%;
  transform: translate(1%, 8%);
}

.upper-right {
  position: absolute;
  top: 0;
  right: 0;
}
.upper-right::after {
  width: 90%;
  height: 90%;
}

.center-image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
}
.center-image::after {
  width: 90%;
  height: 90%;
  transform: translate(1%, 10%);
}
.center-image .image__wrapper {
  width: 500px;
  height: 500px;
}

.company {
  width: 20rem;
}
.company__logo {
  cursor: pointer;
  width: 100%;
  filter: saturate(0);
  transition: all 0.3s;
}
.company__logo:hover {
  filter: saturate(1);
}

.weekly-offer {
  position: relative;
  margin: auto;
  width: 75%;
  background: #f0eadc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #444;
}
.weekly-offer::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 10px;
  left: -20px;
  background: #000;
  z-index: -1;
}

.offer-desc {
  width: 50%;
  padding: 1.6rem;
}

.offer-image-wrapper {
  width: 50%;
  padding: 1.6rem;
}

.offer-image {
  width: 100%;
  display: block;
}

.offer__tag {
  font-size: 1.6rem;
  text-transform: uppercase;
}

.offer__title {
  font-size: 4.8rem;
  font-weight: 700;
}

.offer__link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  width: 40%;
  color: #fff;
  padding: 1.6rem;
  margin: 0.4rem 0;
  background: #ff6813;
  border-radius: 50px;
  transition: all 0.3s;
}
.offer__link:hover {
  background: #0082fa;
}

.collection__suit {
  padding: 1.6rem;
  border: 2px solid #444;
  border-radius: 20px;
  width: 30rem;
  justify-self: center;
}

.suit__image__wrapper {
  width: 25rem;
  overflow: hidden;
}

.suite__image {
  width: 100%;
  border-radius: 50%;
  display: block;
}

.suit-info,
.suit-cost {
  margin: 0.8rem auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4.8rem;
}

.suit__name {
  font-size: 3.2rem;
}

.suit-link {
  transition: all 0.3s;
}
.suit-link:hover, .suit-link:active {
  color: #ff6813;
}

.delivery-process {
  width: 75%;
  margin: 4.8rem auto;
}
.delivery-process__title {
  font-size: 4.8rem;
  text-align: center;
  text-transform: capitalize;
  margin: 2.4rem auto;
}

.process {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}
.process .step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.process .step__title {
  text-transform: capitalize;
}

.footer {
  margin: auto;
  width: 85%;
  padding-top: 4.8rem;
  gap: 4.8rem;
}
.footer .logo__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.6rem auto;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-self: center;
}
.column__title {
  font-size: 3.2rem;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 0.8rem;
}

.email-field {
  position: relative;
}

.input-email {
  height: 3.6rem;
  width: 100%;
  border: 0;
}

.button-email {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 2.4rem;
}

.footer-link {
  color: #fff;
  padding: 1.6rem;
  background: #ff6813;
  border-radius: 50px;
  transition: all 0.3s;
}
.footer-link:hover {
  background: #0082fa;
}

.copyright {
  position: relative;
  background: #000;
  margin: 4.8rem auto 0 auto;
  width: 75%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.section-hero {
  width: 100%;
  height: 70rem;
}

.hero {
  width: 100%;
  height: 70rem;
  position: relative;
}

.section-featured-in {
  margin: 2.4rem auto;
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-in {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-weekly-offer {
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.collection__suits {
  margin: auto;
  column-gap: 1.6rem;
  width: 75%;
}

.collection {
  width: 100%;
}
.collection__title {
  font-size: 4.8rem;
  text-transform: capitalize;
  font-weight: 700;
  width: 75%;
  margin: auto;
}
.collection__description {
  margin: 0.8rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  height: 12rem;
}
.collection__description__text {
  font-size: 2.4rem;
}
.collection__description .icon {
  position: relative;
  width: 100px;
  height: 100px;
  background: #ff6813;
  border-radius: 50%;
}
.collection__description .arrow {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6.4rem;
}

.section-delivery {
  width: 100%;
}

/*# sourceMappingURL=main.css.map */
